.button {
    margin-top: 10%;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: darkcyan;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: darkcyan;}

.button:active {
  background-color: darkcyan;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}